/* Header Section */
.header {
  text-align: center;
  margin-bottom: 5%;
}

.city-name {
  font-weight: normal;
}

.city-temperature {
  font-size: 5rem;
}

.city-name,
.city-temperature,
.city-weather-type,
.city-temperature {
  margin: 0;
  padding: 0;
}

/* text-center */
.hourly,
.daily {
  text-align: center;
}

/* border section */
.hourly,
.daily,
.today-description,
.current-data {
  border-top: 1px solid white;
  
  padding: 1%;
}




/* current section */
.current-data,
.current-row {
  border-bottom: 1px solid white;
}

p {
  margin: 0;
}


.hourly-image {
  width: 30px !important;
}

.big-text {
  font-size: 2rem;
  font-weight: 500;
}


.change-city {
  padding: 5%;
}

.change-city .form-control {
  background: transparent;
  color: white;
}

.change-city button {
  border-color: #fff;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .hourly-text {
    font-size: .8rem;
  
  }

  .big-text {
    font-size: 1.3rem;
    font-weight: 500;
  }

}